@import url('https://fonts.cdnfonts.com/css/copperplate-gothic-std');
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.container {
    position: relative; /* Position the container */
}

.BgImg {
  width: 100vw; /* Set width to 100% of viewport width */
  height: 100vh; /* Set height to 100% of viewport height */
  object-fit: cover; /* Cover the entire container while maintaining aspect ratio */
  position: fixed; /* Fixed positioning */
  top: 0;
  left: 0;
  z-index: -1;
}
  /* Style for the navigation buttons */
  .fieldset-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
    position: relative; /* Establish stacking context */
    z-index: 9999; /* Set a high z-index value */
  }

  .fieldset-wrapper fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  .fieldset-wrapper label {
    display: inline-block;
    padding: 10px 20px;
    color: #333;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }

  .fieldset-wrapper label:hover {
    background-color: #394D3F; /* Add hover effect */
    color: white;
    border-radius: 20px
  }
  .fieldset-wrapper label, button {
    display: inline-block;
    padding: 10px 20px;
    color: #333;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }

  .fieldset-wrapper label:hover , button:hover {
    background-color: #394D3F; /* Add hover effect */
    color: white;
    border-radius: 20px
  }

  /* Hide radio buttons */
  .sr-only {
    position: absolute;
    visibility: hidden;
    clip: rect(0 0 0 0);
  }
  .menu {
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    position: fixed;
    font-family: Arial, sans-serif;
  }
  .menu img {
    margin-left: 40px;
    width: 70px; 
    height: auto; 
    transform: scale(2);
  }
  .fieldset-wrapper2 {
    top: 130px;
    left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    margin-top: 20px;
    text-align: left;
    position: relative; /* Establish stacking context */
    z-index: 9999; /* Set a high z-index value */
  }

  .fieldset-wrapper2 fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  .fieldset-wrapper2 label {
    display: block;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }

  .fieldset-wrapper2 label:hover {
    background-color: #394D3F; /* Add hover effect */
    color: white;
    border-radius: 20px
  }
  .le {
    font-family: 'Copperplate Gothic Std', sans-serif;
    text-align: center;
    font-size: 30px;
    color: white;
    letter-spacing: 5px;
  }
  a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit color from parent element */
    display: inline-block; /* Maintain block display for label styling */
    padding: 1px 10px; /* Add padding to match label design */
}
/* Center the div */
table {
  margin: 20px auto;
  background-color: #f2f2f2;
  color: #333;
  border-collapse: collapse;
  width: 90%;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

table th, table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}

table tr:hover {
  background-color: #e6e6e6;
}
